.event-container {
  width: 1400px;
  margin: 0 auto;
  padding: 50px;
  .top {
    display: flex;
    .left {
      width: 450px;
      .name {
        font-size: 36px;
        font-weight: bold;
      }
      .rating {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .rating-value {
          margin-left: 20px;
          font-weight: bold;
        }
      }
      .cover {
        width: 400px;
        height: 500px;
        margin-right: 50px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .right {
      width: 900px;
      padding-top: 100px;
      .title {
        margin-bottom: 30px;
      }
      .rating-form {
        .form-group {
          margin-top: 20px;
          .rating {
            margin-top: 20px;
          }
          label {
            font-weight: bold;
            margin-bottom: 10px;
          }
          textarea {
            vertical-align: middle;
            resize: none;
          }
        }
        .btn-container {
          margin-top: 30px;
        }
      }
    }
  }
  .bottom {
    margin-top: 50px;
    .title {
      margin-bottom: 30px;
    }
    .reviews {
      width: 1000px;
      .review {
        margin-bottom: 30px;
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
        .review-details {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .review-left {
            .author {
              font-size: 18px;
              font-weight: bold;
            }
            .author-dt {
              opacity: 0.7;
            }
          }
          .review-right {
            .rating {
              display: flex;
              align-items: center;
              .rating-value {
                margin-left: 20px;
                font-weight: bold;
              }
            }
          }
        }
        .review-text {
          font-style: italic;
          font-size: 18px;
        }
      }
      .no-reviews {
        font-style: italic;
        font-size: 18px;
      }
    }
  }
}
