<app-header></app-header>
<div class="event-container">
  <div class="top">
    <div class="left">
      <div class="name">{{ event?.name }}</div>
      <div class="rating">
        <app-star-rating
          [rating]="event?.rating"
          [isReadOnly]="true"
        ></app-star-rating>
        <span class="rating-value">{{ event?.rating }}</span>
      </div>
      <div class="cover">
        <img [src]="event?.cover" alt="" />
      </div>
    </div>
    <div class="right">
      <div class="title">Rate this event</div>
      <div class="rating-form">
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" id="username" class="form-control" />
        </div>
        <div class="form-group">
          <label for="rating"> Rating </label>
          <input type="" id="rating" class="rating"/>
          <div class="rating">
            <app-star-rating
              [rating]="0"
              [isReadOnly]="false"
            ></app-star-rating>
          </div>
        </div>
        <div class="form-group">
          <label for="review">Review </label>
          <textarea id="review" rows="3" class="form-control"></textarea>
        </div>
        <div class="btn-container">
          <button class="btn btn-dark">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <h4 class="title">Reviews</h4>
    <div class="reviews" *ngIf="event?.reviews?.length > 0">
      <div class="review" *ngFor="let review of event?.reviews">
        <div class="review-details">
          <div class="review-left">
            <div class="author">{{ review.author }}</div>
            <div class="author_dt">
              {{ review.published_on | date: "dd-MMM-YYYY" }}
            </div>
          </div>
          <div class="review-right">
            <div class="rating">
              <app-star-rating
                [rating]="review.rating"
                [isReadOnly]="true"
              ></app-star-rating>
              <span class="rating-value">{{ review.rating }}</span>
            </div>
          </div>
        </div>
        <div class="review-text"></div>
      </div>
    </div>
    <div class="reviews" *ngIf="event?.reviews?.length === 0">
      <div class="no-reviews">No reviews yet</div>
    </div>
  </div>
</div>
