<div class="signup-container">

  <div class="logo">Signup Form</div>
  <div class="desc">
    Hello, please type in an Username, valid Email, and password!
  </div>

  <div class="signup-form-container">
    <div class="signup-group">
    <form class= "signup-group" [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
      <div class="title-form"> Username :</div>
      <mat-form-field>
        <mat-label>  username </mat-label>
        <input
          matInput
          placeholder="Ex. alvaraa88"
          formControlName="name">
      </mat-form-field>
      <div class="title-form"> Email :</div>
      <mat-form-field>
        <mat-label> email </mat-label>
        <input
        matInput
        placeholder="Ex. alvaraa88@unm.edu"
        formControlName="email">
      </mat-form-field>
      <div class="title-form"> Password :</div>
      <mat-form-field>
        <mat-label> password </mat-label>
        <input
          matInput
          type="password"
          placeholder="Ex. 0df94!"
          formControlName="password">
      </mat-form-field>
      <button class="button-form"
        color= "accent"
        [disabled]="!signupForm.valid"
        mat-raised-button
              type="submit">
        <span> Sign Up </span>
      </button>
    </form>
    </div>
  </div>
</div>
