  .signup-container{
    width: 100%;
    height: 100vh;
    position: absolute;

    .logo{
      font-size: 70px;
      font-weight: bold;
      font-family: 'Times New Roman', cursive;
      letter-spacing: 10px;
      position: absolute;
      top: 50px;
      right: 50px;
    }

    .desc{
      font-size: 25px;
      font-family: 'Times New Roman', cursive;
      letter-spacing: 5px;
      position: absolute;
      top: 200px;
      right: 50px;
      text-align: right;
      width: 600px;
    }

    .signup-form-container{
      width: 500px;
      height: 300px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      bottom: 50px;
      right: 50px;
      box-shadow: 5px 5px 20px #383838;
    }
    .form-group{
      margin-top: 20px;
    }

    .mat-form-field{
      width: 50%;

      .button-form{
        float: right;
        width: 200px;
      }
    }

    .title-form{
      font-weight: bold;
    }

  }



