.home-container {
  display: flex;

  .all-events {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid #92EBC7;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      h4 {
        text-transform: uppercase;
        font-weight: bold;
        border-left: 5px solid #92EBC7;
        padding-left: 10px;
      }

      .view-all {
        //color: #92EBC7;
        cursor: pointer;
      }
    }

    .event-thumbnail {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .eventClass {
        .cover {
          cursor: pointer;

          img {
            border-radius: 5px;
          }
        }

        .detail {
          width: 180px;

          .name {
            font-weight: bold;
            height: 50px;
            margin-top: 6px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .popular-events {
    width: 25%;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      border-left: 5px solid #92EBC7;
      padding-left: 5px;
    }
    .events {
      .eventClass {
        margin-bottom: 20px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
          font-weight: bold;
          cursor: pointer;
        }
      }
      .view-all{
        text-align: right;
        margin-top: 30px;
        cursor: pointer;
      }
    }
  }
}

.rating{
  padding-right: 45px;
  position: relative;
  .rating-value{
    position: absolute;
    top: 10px;
    right: 0;
    font-weight: bold;
  }
}
