<app-header></app-header>
<!-- <var>cover</var> -->

<div class="home-container">
  <div class="all-events">
    <div class="trending-events">
      <div class="top">
        <h4>Trending Events</h4>
        <div class="view-all"> View All </div>
      </div> <!--closing top class -->
      <div class="event-thumbnail">
        <div class="eventClass" *ngFor="let event of trendingEvents">
          <div class="cover" (click)="goToEvent('trending', event.id)">
            <img [src]="event.cover" alt=""/>
          </div> <!--closing cover class -->
          <div class="detail">
            <div class="name" (click)="goToEvent('trending', event.id)">{{event.name}}</div>
            <div class="rating">
                <span class="rating-value">{{event.rating}}</span>
              <app-star-rating
                [rating]="event.rating"
                [isReadOnly]="true"
              ></app-star-rating>
            </div> <!--closing rating class -->
          </div> <!--closing detail class -->
        </div> <!--closing event class -->
      </div> <!--closing event-thumbnail class -->
    </div> <!--closing trending-events class -->

    <div class="live-events">
      <div class="top">
        <h4> Live Events </h4>
        <div class="view-all">View All</div>
      </div> <!--closing top class -->
        <div class="event-thumbnail">
          <div class="eventClass" *ngFor="let event of liveEvents">
            <div class="cover" (click)="goToEvent('live', event.id)">
              <img [src]="event.cover" alt="" />
            </div>
            <div class="detail">
              <div class="name" (click)="goToEvent('live', event.id)">{{event.name}}</div>
              <div class="rating">
                <span class="rating-value">{{event.rating}}</span>
                <app-star-rating
                  [rating]="event.rating"
                  [isReadOnly]="true"
                ></app-star-rating>
              </div> <!--closing rating class -->
            </div> <!--closing detail class -->
          </div> <!--closing event class -->
        </div> <!--closing events-thumbnail class -->
    </div> <!--closing live-events class -->
  </div> <!-- all-events class -->

  <div class="popular-events">
    <h4> All Time Popular Events </h4>
    <div class = "events">
      <div class = "eventClass" *ngFor="let event of popularEvents">
        <div class="name" (click)="goToEvent('popular', event.id)"> {{event.name}} </div>
        <div class="rating">
          <span class="rating-value">{{event.rating}}</span>
          <app-star-rating
            [rating]="event.rating"
            [isReadOnly]="true"
          ></app-star-rating>
        </div> <!--closing rating class -->
      </div> <!--closing eventClass class -->
      <div class="view-all"> View All </div>
    </div> <!--closing events class -->
  </div> <!--closing popular-events class -->
</div> <!--closing home-container class -->
