.page {

  --lightgreen-1: #92EBC7;
  --lightgreen-2: #5BD2A3;
  --red-1: #a50f0f;
  --grey-1: #545151;
  --shadow-dark: rgba(9, 8, 8, 0.3);
  --shadow-light: rgba(246, 241, 241, 0.1);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: var(--lightgreen-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .login-container {
    width: 100%;
    height: 90vh; //view port height
    background: linear-gradient(135deg, var(--lightgreen-1) 10%, var(--lightgreen-2) 90%);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
    .logo {
      font-size: 70px;
      font-weight: bold;
      font-family: 'Times New Roman', cursive;
      letter-spacing: 10px;
      position: absolute;
      top: 50px;
      right: 50px;
    }

    .desc {
      font-size: 25px;
      font-family: 'Times New Roman', cursive;
      letter-spacing: 5px;
      position: absolute;
      top: 200px;
      right: 50px;
      text-align: right;
      width: 600px;
    }
    .phoenix {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 500px;
    }

    .login-form{
      width: 500px;
      height: 300px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      bottom: 50px;
      right: 50px;
      box-shadow: 5px 5px 20px var(--grey-1);
    }
    .form-group{
      margin-top: 20px;
    }
    label{
      font-weight: bold;
    }
    .btn-container{
      position: relative;
      .btn{
        margin-top: 30px;
      }
      .error{
        position: absolute;
        top: 32px;
        right: 0;
        color: var(--red-1);
      }
    }
}
