<div class="page">
  <div class="login-container">
    <img class="phoenix" src="../../assets/images/phoenix.png" alt="">
    <div class="logo"> Broadcast Me </div>
    <div class="desc">
      Welcome to Broadcast Me. A Social Platform to that lets you commentate your favorite sporting events.
    </div>
    <div class="login-form">
      <div class="form-group">
        <div class="signup-form-model">
          <form class= "signup-container" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

            <div class="title-form"> Email :</div>
            <mat-form-field>
              <mat-label> email </mat-label>
              <input
                matInput
                placeholder="Ex. alvaraa88@unm.edu"
                formControlName="email">
            </mat-form-field>
            <div class="title-form"> Password :</div>
            <mat-form-field>
              <mat-label> password </mat-label>
              <input
                matInput
                type="password"
                placeholder="Ex. 0df94!"
                formControlName="password">
            </mat-form-field>
            <button class="button-form"
                    color= "accent"
                    [disabled]="!loginForm.valid"
                    mat-raised-button
                    type="login">
              <span> Login </span>
            </button>
            <button class="button-form"
                    (click)="goto_Signup()"
                    color= "accent"
                    mat-raised-button
                    type="submit">
              <span> Sign Up </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
