.header-container{
  width: 100%;
  height: 80px;
  background-color: #92EBC7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Times New Roman', cursive;
  letter-spacing: 2px;
  margin-left: 35px;
  cursor: pointer;
}
.logout{
  font-size: 18px;
  font-weight: bold;
  margin-right: 40px;
  cursor: pointer;
}
