<div class="page">
  <div class="weather-container" *ngIf="weatherData">

    <div class="search">
      <form #form="ngForm" (submit)="onSubmitCity()">
        <input type="text" placeholder="search city" name="city"
               [(ngModel)]="cityName">
      </form>
    </div>

    <div class="upper-data">
      <img src="../assets/images/phoenix.png" *ngIf="getTempInFahrenheit(weatherData.main.temp) > 75">
      <img src="../assets/images/penguin_in_space.png"*ngIf="getTempInFahrenheit(weatherData.main.temp) <= 75">
      <div class="weather-data">
        <div class="location"> {{weatherData.name}} </div>
        <div class="temperature">{{getTempInFahrenheit(weatherData.main.temp) | number:'1.0-0'}}°F</div>
      </div> <!-- end of weather-data -->
    </div> <!-- end of upper data -->

    <div class="lower-data">
      <div class="more-info">
        More Info
      </div>
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/images/seasons.png">
            <span>min</span>
          </div><!--end of info-block-label-->
          <div class="info-block-value"> {{getTempInFahrenheit(weatherData.main.temp_min) | number:'1.0-0'}}°F </div>
        </div><!--end of info-block-->

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/images/seasons.png">
            <span>max</span>
          </div><!--end of info-block-label-->
          <div class="info-block-value">
            {{getTempInFahrenheit(weatherData.main.temp_max)| number:'1.0-0'}}°F
          </div>
        </div><!--end of info-block-->

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/images/seasons.png">
            <span>wind</span>
          </div><!--end of info-block-label-->
          <div class="info-block-value">
            {{weatherData.wind.speed}}
          </div>
        </div><!--end of info-block-->

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/images/seasons.png">
            <span>humidity</span>
          </div><!--end of info-block-label-->
          <div class="info-block-value">
            {{weatherData.main.humidity}}
          </div>
        </div><!--end of info-block-->

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/images/seasons.png">
            <span>GeoLocation</span>
          </div><!--end of info-block-label-->
          <div class="info-block-value">
            [{{weatherData.coord.lat}},{{weatherData.coord.lon}}]
          </div>
        </div><!--end of info-block-->

      </div> <!--end of info-block-container-->
    </div> <!-- end of lower-data -->

  </div> <!-- end of weather-container -->
</div> <!-- end of page -->
